[Desktop Entry]
Type=Plugin
Encoding=UTF-8
Name=Taskbar
Name[af]=Kasbar
Name[ar]=شريط المهام
Name[az]=Vəzifə Çubuğu
Name[bg]=Панел за задачи
Name[bn]=টাস্কবার
Name[br]=Barrenn dleadoù
Name[ca]=Barra de tasques
Name[cs]=Pruh úloh
Name[cy]=Bar tasgau
Name[da]=Opgavelinje
Name[de]=Fensterleiste
Name[el]=Γραμμή εργασιών
Name[eo]=Tasklistelo
Name[es]=Barra de tareas
Name[et]=Tegumiriba
Name[eu]=Ataza-barra
Name[fa]=نوار وظیفه
Name[fi]=Tehtäväpalkki
Name[fr]=Barre des tâches
Name[fy]=Taakbalke
Name[ga]=Tascbharra
Name[gl]=Barra de tarefas
Name[he]=שורת המשימות
Name[hi]=कार्यपट्टी
Name[hr]=Traka sa zadacima
Name[hu]=Feladatlista
Name[is]=Verkefnaslá
Name[it]=Barra delle applicazioni
Name[ja]=タスクバー
Name[ko]=작업줄
Name[lo]=ແຖບຫນ້າຕ່າງງານ
Name[lt]=Užduočių juosta
Name[lv]=Uzdevumu josla
Name[mk]=Задачна линија
Name[mn]=Цонхны самбар
Name[nb]=Oppgavelinje
Name[nds]=Programmbalken
Name[nl]=Taakbalk
Name[nn]=Oppgåvelinje
Name[nso]=Bar ya Mosongwana
Name[oc]=Barra de tasques
Name[pa]=ਕੰਮ-ਪੱਟੀ
Name[pl]=Pasek zadań
Name[pt]=Barra de Tarefas
Name[pt_BR]=Barra de tarefas
Name[ro]=Bara de procese
Name[ru]=Панель задач
Name[se]=Bargoholga
Name[sk]=Panel úloh
Name[sl]=Opravilna vrstica
Name[sr]=Трака задатака
Name[sr@Latn]=Traka zadataka
Name[ss]=Ibar yemsebenti
Name[sv]=Aktivitetsfält
Name[ta]=பணிப்பட்டி
Name[tg]=Пайраҳаи вазифа
Name[th]=แถบหน้าต่างงาน
Name[tr]=Görev Çubuğu
Name[uk]=Смужка задач
Name[uz]=Вазифалар панели
Name[ven]=Bara ya mushumo
Name[vi]=Thanh công việc
Name[xh]=Ibar yomsebenzi
Name[zh_CN]=任务条
Name[zh_TW]=工作列
Name[zu]=Ibha yemisebenzi

Comment=The default taskbar panel applet.
Comment[af]=Die verstek kasbar paneel miniprogram.
Comment[ar]=بريمج شريط المهام الإفتراضي
Comment[az]=Önq urğulu vəzifə çubuğu paneli.
Comment[bg]=Системен панел за лентата със задачите
Comment[bn]=ডিফল্ট টাস্কবার প্যানেল অ্যাপলেট
Comment[br]=An arloadig barrenn ar poellaoù dre ziouer.
Comment[bs]=Osnovni taskbar applet za panel
Comment[ca]=L'applet per al plafó de la barra de tasques per omissió.
Comment[cs]=Výchozí applet s pruhem úloh
Comment[cy]=Rhaglennig bar tasgau rhagosodedig i'r panel
Comment[da]=Standard-opgavelinjepanelprogram.
Comment[de]=Standardmäßiger Bereich für offene Fenster in der Kontrollleiste
Comment[el]=Το προκαθορισμένο εφαρμογίδιο γραμμής εργασιών του πίνακα.
Comment[eo]=La origina tasklistela panelaplikaĵeto.
Comment[es]=La barra de tareas predeterminada (applet del panel).
Comment[et]=Paneelil töötav tegumiriba aplett
Comment[eu]=Ataza-barra lehenetsia (paneleko appleta)
Comment[fa]=برنامک میله ابزار صفحه‌ی‌ کنترل.
Comment[fi]=Oletusohjelmapalkki
Comment[fr]=L'applet de barre des tâches par défaut
Comment[fy]=De standert taakbalke panielapplet.
Comment[gl]=A applet coa barra de tarefas por omisión para o panel.
Comment[he]=ברירת מחדל של יישומון שורת משימות ללוח
Comment[hi]=डिफ़ॉल्ट कार्यपट्टी फलक ऐपलेट
Comment[hr]=Uobičajeni applet za ploču
Comment[hu]=Az alapértelmezett tálcaalkalmazás.
Comment[id]=Applet panel taskbar default
Comment[is]=Sjálfgefna verkefnasláin (íforrit)
Comment[it]=Applet per la barra delle applicazioni predefinita
Comment[ja]=標準のタスクバーパネルアプレット
Comment[ko]=기본 작업줄 패널 애플릿.
Comment[lo]=ແອບແພັດຖາດທຳງານໂດຍຕົງຂອງພາເນລ
Comment[lt]=Numatyta užduočių juostos pulto priemonė.
Comment[lv]=Noklusētās uzdevumjoslas paneļa aplets
Comment[mk]=Основниот аплет со линијата за задачи
Comment[mn]=Удирдах самбар дахь нээлттэй цонхны стандарт талбар
Comment[mt]=L-applet tal-pannell tat-taskbar standard.
Comment[nb]=Den vanlige oppgavelinja som panelprogram.
Comment[nds]=Lüttprogramm för den Standard-Programmbalken.
Comment[nl]=De standaard taakbalk paneelapplet.
Comment[nn]=Standard oppgåvelinje.
Comment[nso]=Applet ya panel ya bar ya mosongwana wa thuso ya tshoganetso.
Comment[oc]=L'aplet de plafon de la barra de tasquas per omission.
Comment[pa]=ਮੂਲ ਵਿਹੜਾ ਪੈਨਲ ਐਪਲਿਟ
Comment[pl]=Domyślny pasek zadań dla panelu.
Comment[pt]=A barra de tarefas por omissão.
Comment[pt_BR]=O mini-aplicativo padrão de barra de tarefas do painel.
Comment[ro]=Miniaplicaţia implicită pentru bara de procese
Comment[ru]=Аплет панели списка задач (по умолчанию).
Comment[se]=Standárda bargoholga.
Comment[sk]=Štandardný applet prepínača panelu.
Comment[sl]=Privzeti vstavek za opravilno vrstico v pultu
Comment[sr]=Подразумевани аплет траке задатака за панел.
Comment[sr@Latn]=Podrazumevani aplet trake zadataka za panel.
Comment[sv]=Det förvalda miniprogrammet för att visa aktivitetsfältet i panelen
Comment[ta]=முன்னிருப்பு பணிப்பட்டி பலக சிறுநிரல்
Comment[tg]=Аплети панели рӯйхати вазифа (пешфарзӣ)
Comment[th]=แอพเพล็ตถาดงานโดยปริยายของพาเนล
Comment[tr]=Öntanımlı görev çubuğu paneli.
Comment[uk]=Типовий аплет панелі смужки задач.
Comment[vi]=panel applet cho thanh tác vụ mặc định 
Comment[xh]=I applet yeqela lenjongo ethile yebar yomsebenzi wendalo.
Comment[zh_CN]=默认任务栏面板小程序。
Comment[zh_TW]=預設的工作列面板小程式。
Comment[zu]=I-applet yewindi lemininingwane yebha yemisebenzi yendalo

X-KDE-Library=taskbar_panelapplet
