body {
	color: #444;
	background: #fff url(title_bg.png) 0 -80px repeat-x;
	position: relative;
	margin: 40px;
	font-family: trebuchet ms,luxi sans,sans-serif;
	font-size: 96%;
	text-align: center;
}

/************ header ***************/

#header img{
	float: left;
	margin: 4px;
}

#header {
	text-align: center;
	padding: 0.5em;
}

#header form input {
	border: 1px solid rgb(153, 51, 0);
	margin: 5px;
}

#headerlinks {
	float: center;
}

/************ End header; Start status ************/

/*#busycursor {*/
#status {
	padding: 0.5em;
	text-align: center;
	display: none;
}

/************ End status; Start result listing ***************/
#results {
	clear: left;
	padding: 0.5em;
	border-top: 1px dotted rgb(153, 51, 0);
	text-align: left;
}

.Hit {
        border-left: 1px solid rgb(152, 51, 0);
        border-top: 1px solid rgb(152, 51, 0);
	margin-bottom: 2em;
}

.Hit .Uri {
	background-color:rgb(204, 204, 204);
        padding: 0.5em;
}

.Timestamp, .Score {
	margin: 0.5em;
}

.Properties {
	margin-left: 0.5em;
}

/*********** End results; Start footer ************/

#footer {
	border-top: 1px dotted rgb(153, 51, 0);
	padding: 0.5em;
	text-align: center;
}
