/*
 * Copyright (2007) Debajyoti Bera
 * Copyright (2007) Nirbheek Chauhan
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a
 * copy of this software and associated documentation files (the "Software"),
 * to deal in the Software without restriction, including without limitation
 * the rights to use, copy, modify, merge, publish, distribute, sublicense,
 * and/or sell copies of the Software, and to permit persons to whom the
 * Software is furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 * FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
 * DEALINGS IN THE SOFTWARE.
 * 
 *
 */

body {
	color: #444;
	background: #fff url(title_bg.png) 0 -80px repeat-x;
	position: relative;
	margin: 40px;
	font-family: trebuchet ms,luxi sans,sans-serif;
	font-size: 96%;
	text-align: center;
}

/************ header ***************/

#header img{
	float: left;
	margin: 4px;
	border: 0px;
}

#header {
	text-align: center;
	padding: 1em;
}

#header form input {
	border: 1px solid rgb(153, 51, 0);
	margin: 5px;
}

#headerlinks {
	float: center;
}

/************ End header; Start status ************/

#status {
	padding: 0.5em;
	text-align: center;
	display: none;
}

/*********** End status; Start topbar *************/

#topbar {
	clear: left;
	height: 2em;
	background-color: #cccccc;
	border-top: 1px dotted rgb(153, 51, 0);
	margin-bottom: 0.5px;
	margin-top: 0.5em;
	padding-top: 0.25em;
	display: none;
}

#topbar-left {
	float: left;
	text-align: center;
	padding-left: .5em;
}

#topbar-left a {
	padding-right: .5em;
}

#topbar-right{
	float: right;
	text-align: center;
	padding-right: .5em;
}

/************ End status; Start result listing ***************/
#results {
	clear: left;
	padding: 0.5em;
	text-align: left;
}

.Hit {
/*	border-left: 1px solid rgb(152, 51, 0);
	border-top: 1px solid rgb(152, 51, 0);*/
	padding: 0.5em;
	float: left;
}

.Title {
	padding: 0.5em;
	float: left;
	border-bottom: 1px solid rgb(152, 51, 0);
	border-left: 1px solid rgb(152, 51, 0);
}

.Toggle {
	padding-right: 0.1em;
	font-weight: bold;
}

.Uri {
	float: left;
	text-align: left;
	font-weight: bold;
}

.Timestamp {
	float: right;
	text-align: right;
}

.Data {
	float: left;
	margin: 0.5em;
	margin-bottom: 1.5em;
}

.Properties {
	float: left;
	margin-left: 0.5em;
}

/*********** End results; Start footer ************/

#footer {
	border-top: 1px dotted rgb(153, 51, 0);
	padding: 0.5em;
	text-align: center;
	float: left;
	width: 100%;
}

.license {
	font-size: 75%;
}
