<table bgcolor="#eeeebd" cellpadding="0" cellspacing="1"><tr valign="top"><td>
<table bgcolor="#fffce" cellpadding="6">
<tr valign="top">
<td>
<a href="@Uri@"><img src="contact-icon.png" border="1"></a>
</td>
<td>
<font size="2"><strong>@Name@</strong>
(@Nickname@)
</font><br>
<font size="1">
<a href="mailto:@Email1@">@Email1@</a><br>
<a href="mailto:@Email2@">@Email2@</a><br>
<a href="mailto:@Email3@">@Email3@</a><br>
IM: <a href="im:@ImAim@">@ImAim@</a> (AIM)<br>
<img src="contact-phone.png"> @BusinessPhone@ (Work)<br>
<img src="contact-phone.png"> @HomePhone@ (Home)<br>
<img src="contact-phone.png"> @MobilePhone@ (Mobile)<br>
<!-- <font color="#007000"><img src="status-online.png"> Online</font> -->
</font>
</td>
</tr>
</table>
</td></tr>
</table>
