[Desktop Entry]
Encoding=UTF-8
X-SuSE-translate=true
Name=Search & Indexing
GenericName=Configure Desktop Search & Indexing
Comment=Configure search & indexing properties
Exec=beagle-settings
Icon=gnome-searchtool
Type=Application
Categories=Application;Settings;AdvancedSettings;Utility;Filesystem;X-Ximian-Settings;
